<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
  <servlet>
    <servlet-name>RankServlet</servlet-name>
    <servlet-class>RankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankServlet</servlet-name>
    <url-pattern>/rank.json</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>WordsServlet</servlet-name>
    <servlet-class>WordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordsServlet</servlet-name>
    <url-pattern>/words.json</url-pattern>
  </servlet-mapping>
</web-app>
